body {   
    background-color: #64b0c5; 
    background-image: linear-gradient(to right top, #8addf4, #c4d3dd);
}

.navbar{background-color: #1cb9e4; 
    background-image: linear-gradient(to right top, #1cb9e4, #c4d3dd);}

.características {
    top: 1141px;
    left: 0px;
    width: 1280px;
    height: auto; 
    background: no-repeat padding-box;
    opacity: 0.98;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.características h2 {
    text-align: center;
    font: normal normal medium 40px/47px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 20px; 
}

.contenedor {
    display: flex;
    justify-content: space-around; 
    width: 100%; 
    max-width: 800px; 
}

.icono {
    text-align: center;
    color: #000000;
    opacity: 1;
}

.icono i {
    font-size: 4rem;    }

.icono p {
    margin-top: 10px; 
}

.descripción{
    text-align: left;
    font: normal normal 300 16px/19px;
    letter-spacing: 0px;
    display: flex;
    opacity: 1;
    top: 800px;
    left: 0px;
    width: 1280px;
    height: 348px;
    background-image: linear-gradient(to right top, #c4d3dd, #8addf4);}
  


.card {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.card img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}
.card-body {
    display: flex;
    flex-direction: column; 
        flex-grow: 1;}

footer {position: relative; bottom: 0; width: 100%;
    background-color: #1cb9e4; 
    background-image: linear-gradient(to right top, #1cb9e4, #c4d3dd);}
    .contenedor2 {
        display: flex;
        justify-content: space-evenly; 
        width: 100%; 
        max-width: 800px; }